.container {
    display: grid;
    grid-column: 1fr 1fr;
    grid-row: 1fr 2fr 1fr;
    column-width: 100%;
    grid-template-areas: 
    "header header"
    "instructions main-content"
    "crystals crystals";
    
}

#header {
    font-family: 'Yeon Sung', cursive,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 43px;
    text-align: center;
    font-weight: bold;
    grid-area: header;
    background-size: 100% auto;
    height: 80%;
    color: #CD041C;
    border-style: dotted;
    border-color: #B76CD1;
    

}

#instructions{
    font-family: 'Yeon Sung', cursive,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    grid-area: instructions; 
    font-size: 18px;
    
    
    
}

#main-content{
    font-family: 'Yeon Sung', cursive,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    grid-area: main-content;
    text-align: center;
    font-size: 18px;
    color: #B76CD1;
}

#crystals {
    grid-area: crystals;
    text-align: center;
        
    }

#crystal-image1 {
    width: 150px;
    height: 150px;
    }

#crystal-image2 {
    width: 150px;
    height: 150px;
    }

#crystal-image3 {
    width: 150px;
    height: 150px;
    }

#crystal-image4 {
    width: 150px;
    height: 150px;
    }
#number-to-guess {
  margin: 10px 0px;  
}

#current-score {
  margin: 10px 0px; 
}

#wins {
  margin: 10px 0px;
}

#losses {
  margin: 10px 0px;
}

h1 {
    margin: 15px;
}

